FLASK_ENV=development
SECRET_KEY=troque-em-producao
JWT_SECRET_KEY=jwt-troque-em-producao
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/linklens
REDIS_URL=redis://localhost:6379/0
BASE_URL=http://localhost:5000
SLUG_LENGTH=7
REDIRECT_CACHE_TTL=300